html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: #f2ea02;
}
